*{
	font-family: arial
}



.formulario{
	padding: 5px;
	margin: 5px;
	background-color: #a7c0dc;
	width: 400px;
	height: 350px
}

input[type="text"],[type="email"], textarea{
	width: 90%;
	padding: 15px;
	background-color: #f1ff00;
	border: 1px solid #ddd;
	text-align: left
}
.botao{
	margin: 10px;
	display: inline-block;
	border:1px solid;
	color: #fff;
	padding: 10px 30px;
	border-radius: 10px

}
.botaoAmarelo{
	background-color: #ffa900
}